@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.color-1{
    color: rgb(100, 200, 255);
}
.color-2{
    color: rgb(240, 170, 0);
}
.color-3{
    color: rgb(135, 0, 255);
}

/* header style */

/* nav style */

.nav-logo{
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.navbar{
    justify-content: space-around;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.nav-title{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 11px;
}
#link-color-1{
    color: rgb(254, 163, 1);
}
#link-color-2{
    color: rgb(1, 172, 253);
}
#link-color-3{
    color: rgb(5, 212, 223);
}
#link-color-4{
    color: rgb(93, 88, 239);
}
.nav-btn-link{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}
.nav-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    align-items: center;
    padding: 10px 60px;
    border: none;
}

/* banner style */
.banner{
    justify-content: center;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}
.banner-details{
    margin: 0 40px;
    max-width: 640px;
    border: 140px 0;
}
.banner-image{
    max-width: 460px;
}
.text-1{
    color: orange;
    font-weight: bold;
    font-size: 3.5rem;
}
.text-2{
    color: skyblue;
    font-weight: bold;
    font-size: 3.5rem;
}
.text-3{
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    
}
.description{
    color: black;
    font-weight: 400;
    font-size: 1.25rem;
}
button{
    background-color: black;
    border-radius: 12px;
    padding: 10px 47px;
    border: none;
}
.btn-name{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}

/* main style */

.curriculum{
    background-image: url(../assets/bg.png);
}
.section-title{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1160px;
    margin: 0 auto;
    gap: 30px;
}
.section-title{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2.9rem;
}
.curriculum-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}
.curriculum-description{
    color: rgb(128, 128, 128);
    font-weight: 500;
    font-size: 1rem;
}
.curriculum-title{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
}
.card-1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
}
.card-2{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

/* our-stories style */

.section-1{
    background-image: url(../assets/bg.png);
}
.our-stories-title{
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: 700;
}
.our-stories-title{
    text-align: center;
}
.our-stories{
    justify-content: center;
    align-items: center;
    
}
.main-img{
    border-radius: 16px 16px 0px 0px;
    background: url(),rgb(217, 217, 217);
}
.stories-secondary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.img-story{
    border-radius: 16px 16px 0px 0px;
    background: rgb(255, 255, 255);
    width: 291px;
    height: 182px;
}
.title-story{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
}
.main-story{
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
.story-description{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
}
.story-time{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    padding: 15px 20px;
}
.stories-main{
    width: 540px;
    height: 550px;
    margin-right: 20px;
}
.time-scaling{
    margin-left: 20px;
    margin-top: -20px;
}
.stories-btn{
    margin: 60px 550px 0 550px;
}
/* footer style */

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1160px;
    margin: 0 auto;
    gap: 150px;
    background: rgb(1, 172, 253);
    padding: 130px 150px;
    margin-top: 150px;
    justify-content: center;
    
}
.footer-note-1{
    display: flex;
}
.footer-logo{
    width: 82px;
    height: 81px;
    margin-top: 50px;
}
.footer-title{
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 700;
}
.footer-description{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    width: 399.02px;
    height: 100px;
}
.footer-about{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 700;
}
.footer-link{
    list-style: none;
}
.link-name{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
}
